.button {
  display: inline-flex;
  gap: var(--space-sm);
  text-decoration: none;
  isolation: isolate;

  &__primary {
    position: relative;
    color: var(--color-neutral-white);
    background-color: var(--color-secondary);
    width: fit-content;
    padding: var(--space-md) var(--space-lg);
    border-radius: 5rem;
    outline: 3px solid transparent;

    &::before {
      content: "";
      display: block;
      border-radius: 5rem;
      position: absolute;
      background-color: transparent;
      inset: -6px;
      border: 3px solid var(--color-secondary);
      z-index: -1;
      transform: scale(0.7);
      transition: transform var(--transition-fast);
    }

    &:hover,
    &:focus {
      &::before {
        transform: scale(1);
      }
    }
  }

  &--unstyled {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
