.button {
  display: inline-flex;
  gap: var(--space-sm);
  text-decoration: none;

  &__primary {
    color: var(--color-neutral-white);
    background-color: var(--color-secondary);
    width: fit-content;
    padding: var(--space-md) var(--space-lg);
    border-radius: var(--radius-round);

    &:hover,
    &:focus {
      outline: 2px solid var(--color-secondary);
      outline-offset: 3px;
    }
  }

  &--unstyled {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
