.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  border-radius: var(--border-size-4);
  flex: 1;

  &__image {
    width: 100%;
    border-radius: var(--border-size-4);
  }

  &__title {
    color: var(--color-primary-dark);
  }
}

.card-group--vertical {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  height: 100%;
}
