.giant-quote {
  position: relative;
  text-align: center;
  font-size: var(--font-size-2xl);

  max-width: var(--size-content-3);

  cite {
    font-size: var(--font-size-large);
  }

  &::before {
    content: open-quote;
    position: relative;
    top: 4rem;
    color: var(--color-primary);
    font-size: 7rem;
  }
}
