@use "../base/mixins" as *;

.image-grid {
  --flow-space: var(--space-lg);
  display: grid;
  gap: var(--space-md);

  grid-template-columns: repeat(2, 1fr);

  // @include media("md") {
  //   grid-template-columns: repeat(2, 1fr);
  // }

  @include media("lg") {
    grid-template-columns: repeat(4, 1fr);
  }
}
