@use "../base/mixins" as *;

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.flow > * + * {
  margin-block-start: var(--flow-space, var(--space-md));
}

.bold {
  font-weight: var(--font-weight-bold);
}

.margin-bottom-2xl {
  margin-block-end: var(--space-2xl);
}

.background-cream {
  background-color: var(--color-neutral-cream);
  border-radius: var(--border-size-4);
}

.background-white {
  background-color: var(--color-neutral-white);
}

.centered-text {
  text-align: center;
}

.padding-large {
  padding: var(--space-lg);
}

.gap-small {
  gap: var(--space-sm);
}

.gap-medium {
  gap: var(--space-md);
}

.gap-large {
  gap: var(--space-lg);
}

.gap-2xlarge {
  gap: var(--space-2xl);
}

.rounded-corners {
  border-radius: var(--size-4);
}

.unstyled-list {
  list-style-type: none;
  padding: 0;
}

// Flex classes
.flex-centered-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.hide-on-sm {
  @include hide-on(sm);
}

.hide-on-md {
  @include hide-on(md);
}

.hide-on-lg {
  @include hide-on(lg);
}

.hide-on-xl {
  @include hide-on(xl);
}
