.flow > * + * {
  margin-block-start: var(--space-md);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.demphasized {
  display: block;
  font-weight: var(--font-weight-normal);
}

.emphasized {
  display: block;
  color: var(--color-primary-dark);
}

.margin-bottom-2xl {
  margin-block-end: var(--space-2xl);
}

.background-cream {
  background-color: var(--color-neutral-cream);
  border-radius: var(--border-size-4);
}

.background-white {
  background-color: var(--color-neutral-white);
}

.centered-text {
  text-align: center;
}

.padding-large {
  padding: var(--space-lg);
}

.d-flex {
  display: flex;
}

.gap-medium {
  gap: var(--space-md);
}

.rounded-corners {
  border-radius: var(--border-size-4);
}
