@use "../base/mixins" as *;

body {
  font-family: var(--font-family-sans);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  color: var(--color-ink);
}

p {
  max-width: var(--size-content-3);
  font-size: var(--font-size-base);
}

a {
  color: var(--color-link);
}

.header-huge {
  font-size: var(--font-size-huge);
}

.header-2xl {
  font-size: var(--font-size-2xl);
}

.header-xl {
  font-size: var(--font-size-xl);
}

.header-lg {
  font-size: var(--font-size-large);
}

.header-md {
  font-size: var(--font-size-medium);
}

h1 {
  color: var(--color-primary-dark);
}

h1,
h2,
h3 {
  line-height: var(--font-lineheight-1);
}

strong:not(.prose) {
  color: var(--color-primary-dark);
}

a:not(button):not(nav a) {
  display: inline-flex;
  text-decoration: none;
}

.lead {
  font-size: var(--font-size-medium);
}

.eyebrow {
  font-family: var(--font-family-cursive);
  color: var(--color-secondary);
  font-size: var(--font-size-large);
}

.signature {
  width: 175px;
  margin-block: var(--space-xl);
}
.has-dashes {
  --element-width: 3rem;
  --element-height: 3px;
  --element-offset: 4rem;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: var(--color-secondary);
    height: var(--element-height);
    width: var(--element-width);
  }

  &::before {
    left: calc(var(--element-offset) * -1);
  }

  &::after {
    right: calc(var(--element-offset) * -1);
  }
}

.link-with-icon {
  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);

  &:hover {
    svg {
      transform: translateX(0.5rem);
    }
  }

  svg {
    transition: var(--transition-fast);
  }
}
