:root {
  --color-primary-lightest: hsl(171, 33%, 96%);
  --color-primary-lighter: hsl(166, 73%, 52%);
  --color-primary-light: hsl(165, 87%, 35%);
  --color-primary: hsl(165, 96%, 19%);
  --color-primary-dark: hsl(165, 98%, 14%);
  --color-primary-darkest: hsl(165, 100%, 9%);

  --color-secondary-light: hsl(45, 49%, 68%);
  --color-secondary: hsl(45, 66%, 48%);
  --color-secondary-dark: hsl(45, 90%, 30%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-cream: hsl(27, 69%, 97%);

  --color-ink: var(--gray-10);

  --space-xs: var(--size-1);
  --space-sm: var(--size-2);
  --space-md: var(--size-3);
  --space-lg: var(--size-5);
  --space-xl: var(--size-7);
  --space-2xl: var(--size-9);

  --font-family-sans: "Montserrat", serif;
  --font-family-cursive: "Meow Script", cursive;

  --font-weight-normal: 500;
  --font-weight-bold: 700;

  --font-size-xs: var(--font-size-00);
  --font-size-sm: var(--font-size-0);
  --font-size-base: var(--font-size-1);
  --font-size-medium: var(--font-size-4);
  --font-size-large: var(--font-size-5);
  --font-size-xl: var(--font-size-7);
  --font-size-2xl: var(--font-size-8);
}
