.footer {
  background-color: var(--color-neutral-cream);
  border-radius: var(--size-2);
  padding-block: var(--space-lg);
  margin-block-start: auto;

  &__bio {
    display: flex;
    gap: var(--space-lg);

    img {
      align-self: flex-start;
    }
  }

  &__pages {
    justify-self: end;
    display: flex;
    gap: var(--space-lg);
  }

  &__page-list {
    &:not(:last-child) {
      margin-inline-end: var(--space-lg);
    }
  }
}
