@use "../base/mixins" as *;

.footer {
  background-color: var(--color-neutral-cream);
  border-radius: var(--size-2);
  padding-block: var(--space-lg);
  margin-block-start: auto;

  &__bio {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);

    img {
      align-self: flex-start;
    }
  }

  &__pages {
    display: flex;
    gap: var(--space-lg);
    @include media("md") {
      justify-self: end;
    }
  }

  &__page-list {
    &:not(:last-child) {
      margin-inline-end: var(--space-2xl);
    }
  }
}
