.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  grid-template-rows: auto;
  gap: var(--space-lg);
}

.flex {
  display: flex;
  gap: var(--gap, --space-lg);

  &.column {
    flex-direction: column;
  }

  .greedy {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}
