@use "sass:map";
@use "../base/mixins" as *;

.header {
  background-color: var(--color-primary-lightest);
  border-radius: var(--size-4);
  overflow: hidden;
  padding-block: var(--space-lg);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  justify-content: flex-end;
  isolation: isolate;
  background-color: #dfdbe5;
  background-color: #ffffff;
  background-color: #f1f8f7;
  background-color: #f1f8f7;

  &[data-variant="home"] {
    min-height: 40rem;
    justify-content: center;

    h1 {
      font-weight: var(--font-weight-normal);
      color: var(--color-ink);
      line-height: var(--font-lineheight-2);
      margin-inline-start: calc(var(--space-sm) * -1);
    }

    h1 span {
      display: block;
      width: fit-content;
      background-color: var(--color-neutral-white);
      border-radius: var(--border-radius-md);
      padding-inline: var(--space-sm);
      margin-block-start: var(--space-sm);
    }

    .header__content {
      display: grid;
      gap: var(--size-4);
    }

    .header__image-wrapper {
      position: absolute;
      right: 4rem;
      bottom: 0;
      z-index: -1;

      display: none;

      @include media("lg") {
        display: block;
      }

      .header__image-image {
        height: 29rem;

        @include media("xl") {
          height: 33rem;
        }
      }

      .header__image-stars {
        position: absolute;
        bottom: 0;
      }
    }
  }

  &__content {
    display: grid;
    gap: var(--size-4);
  }
}
