.section {
  padding-block: var(--space-2xl);
  margin-block-start: var(--space-xl);

  &[data-background="cream"] {
    background-color: var(--color-neutral-cream);
  }

  &[data-background="green"] {
    background-color: var(--color-primary-lightest);
  }
}
