.container {
  margin-inline: max(((100% - 70rem) / 2), var(--size-fluid-4));
}

.header {
  background-color: var(--color-neutral-cream);
  border-radius: var(--size-2);
  overflow: hidden;
  padding-block: var(--space-lg);

  &--home {
    min-height: var(--size-14);
  }
}

.navbar {
  margin-inline: max(((100% - 70rem) / 2), var(--size-fluid-4));
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 5rem;
  }

  &__menu {
    display: flex;
    gap: var(--space-sm);
    list-style: none;
  }
}

.footer {
  background-color: var(--color-neutral-cream);
  border-radius: var(--size-2);
  padding-block: var(--space-lg);
  margin-block-start: auto;
}
