.container {
  margin-inline: max(((100% - 70rem) / 2), var(--size-fluid-4));
}

.header {
  background-color: var(--color-neutral-cream);
  border-radius: var(--size-2);
  overflow: hidden;
  padding-block: var(--space-lg);
  position: relative;
  display: flex;
  flex-direction: column;

  &--home {
    min-height: 35rem;
    justify-content: center;
  }

  &__content {
    max-width: var(--size-content-3);
    display: grid;
    gap: var(--size-4);
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: var(--size-15);
  }
}

.navbar {
  padding-inline: var(--size-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: var(--space-md);
  width: 100%;
  z-index: 1;

  &__logo {
    width: 5rem;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__icon {
    width: var(--size-4);
    stroke: var(--color-primary-dark);
  }

  &__menu {
    display: flex;
    gap: var(--space-md);
    list-style: none;
  }
}

.footer {
  background-color: var(--color-neutral-cream);
  border-radius: var(--size-2);
  padding-block: var(--space-lg);
  margin-block-start: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: var(--space-lg);
}

.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
.col-11 {
  grid-column: span 11;
}
.col-12 {
  grid-column: span 12;
}

.section {
  padding-block: var(--space-xxl);
}
