@import "https://unpkg.com/pollen-css/dist/pollen.css";

:root {
  --color-primary-lightest: hsl(171, 33%, 96%);
  --color-primary-lighter: hsl(166, 73%, 52%);
  --color-primary-light: hsl(165, 87%, 35%);
  --color-primary: hsl(165, 96%, 19%);

  --color-secondary-light: hsl(45, 49%, 68%);
  --color-secondary: hsl(45, 66%, 48%);
  --color-secondary-dark: hsl(45, 90%, 30%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-cream: hsl(27, 69%, 97%);
}
